# Activity 3
## Department - DSE
### Roll.No - 19024
### Name - Alli Khadga Jyoth

## Excercise 1

In [4]:
shopping  = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [9]:
for x in shopping:print(x)

bread
milk
eggs

In [10]:
mixed = [365,"days", True];print(mixed)

[365, 'days', True]

## Excercise 2

In [11]:
len(shopping)

3

In [13]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1+list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [18]:
list3=['iiserb']*3
list3

['iiserb', 'iiserb', 'iiserb']

## Excercise 3

In [19]:
shopping

['bread', 'milk', 'eggs']

In [21]:
shopping[1]

'milk'

In [22]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [23]:
shopping[-1]

'eggs'

In [24]:
shopping[0:2]

['bread', 'banana']

In [25]:
shopping[0:3]

['bread', 'banana', 'eggs']

In [26]:
shopping[1:]

['banana', 'eggs']

## Excercise 4

In [35]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
shopping

['bread', 'milk', 'eggs', 'apple']

In [36]:
shopping = []
shopping.append("bread")
shopping.append("milk")
shopping.append("eggs")
shopping.append("apple")
shopping

['bread', 'milk', 'eggs', 'apple']

In [37]:
shopping.insert(2,"ham")
shopping

['bread', 'milk', 'ham', 'eggs', 'apple']

## Excercise 5

In [49]:
movie = {
    "title" : "The Godfather",
    "director" : "Francis Ford Coppola",
    "year" :1972,
    "rating": 9.2
}

In [50]:
movie["year"]

1972

In [51]:
movie["rating"] = (movie["rating"]+9.3)/2
movie["rating"]

9.25

In [52]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [54]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan'];
movie['other_details'] = {
'runtime': 175,
'language': 'English'
}
print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

## Excercise 6

In [60]:
employees = [{"name": "John Mckee", "age":38, "department":"Sales"},
{"name":"Lisa Crowford","age":29,"department":"Marketing"},
{"name":"Sujan Patel","age":33,"department":"HR"}]

In [115]:
for x in employees:
    if x["name"] =="Sujan Patel":
        for key in x:
            print(f'{key}: {x[key]}')
        print("-"*20)

name: Sujan Patel
age: 33
department: HR
--------------------

## Excercise 7

In [116]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [117]:
print(orders.keys())

dict_keys(['apple', 'orange', 'banana'])

In [120]:
for tuple in list(orders.items()):print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## Excercise 8

In [121]:
t = ('bread', 'milk', 'eggs')
len(t)

3

In [123]:
t.append('apple')
t[2] = 'apple'

AttributeError: 'tuple' object has no attribute 'append'

In [125]:
print(t + ('apple','orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [126]:
t_mixed = 'apple',True,3
print(t_mixed)
t_shopping = ('apple',3),('orange',2),('banana', 5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

## Excercise 9

In [127]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [128]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'orange', 'apple', 'banana'}

In [131]:
s4.add('pineapple')
print(s4)

{'orange', 'apple', 'banana', 'pineapple'}

## Excercise 10

In [134]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}
print(s5|s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [135]:
print(s5&s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [137]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [138]:
print(s5<=s6)
print(s5.issubset(s6))

False
False

In [139]:
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

True
True

In [142]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [143]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False